@import './helpers.scss';

a {
    color: $link;
    text-decoration: underline;
}

form {
    box-shadow: $box-shadow;
}

.MuiTypography-root {
    &.form-title {
        font-size: toRem(18);
        font-weight: 600;
        color: $gray;
    }
}

button.MuiButtonBase-root {
    text-transform: capitalize;
}

.MuiSvgIcon-root {
    color: $gray;
}

.MuiSnackbar-root {

    .MuiAlert-message,
    .MuiSvgIcon-root {
        color: $white;
    }
}