@import './helpers.scss';

.navbar {
    box-shadow: 0 toRem(4) toRem(6) rgba(0, 0, 0, 0.2);

    &,
    &__content {
        flex-direction: column;

        @include media("md") {
            flex-direction: row;
        }
    }

    &__content {
        @include media-max("md") {
            background-color: #fff;
            box-shadow: 0 toRem(4) toRem(6) rgba(0, 0, 0, 0.2);
            padding-left: toRem(20);
            width: 100%;
            height: 0;
            transition: height 0.2s ease-in;
            top: toRem(60);
            left: 0;

            &.open {
                height: toRem(200);
            }
        }

        @include media("md") {
            height: auto;
            position: static;
        }

    }

    &__search {
        display: none;

        @include media("850px") {
            display: block;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: toRem(10);

        @include media("md") {
            flex-direction: row;
            gap: toRem(20);
        }
    }

    &__toggle {
        display: block;

        @include media("md") {
            display: none;
        }
    }

    a {
        text-decoration: none;
        color: $gray;
        font-weight: bold;

        &:hover {
            color: $link;
        }
    }
}