@import './variables.scss';

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .brand-name {
        font-size: 1.5em;
    }

    .nav-links {
        display: flex;
        gap: 20px;
    }
    a {
        text-decoration: none;
        color: $gray;
        font-weight: bold;
        &:hover {
            color: $link;
        }
    }
}
