@import './helpers.scss';

.navbar {
    box-shadow: 0 toRem(4) toRem(6) rgba(0, 0, 0, 0.2);

    .nav-links {
        display: flex;
        gap: toRem(20);
    }

    a {
        text-decoration: none;
        color: $gray;
        font-weight: bold;

        &:hover {
            color: $link;
        }
    }
}