@import './helpers.scss';

.task-list {
    &__task {
        box-shadow: $box-shadow;
        width: 100%;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: rgba(0, 0, 0, 0.07);
        }

        @include media('md') {
            width: calc(50% - 24px);
        }
    }
    &__no-tasks {
        height: 70vh;
    }
}

.task-search {
    display: block;

    @include media('850px') {
        display: none;
    }
}
