@import './helpers.scss';

.task-list-wrapper {
    min-height: calc(100vh - 70px);
}

.task-list {
    &__task {
        box-shadow: $box-shadow;
        width: 100%;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: rgba(0, 0, 0, 0.07);
        }

        @include media("md") {
            width: calc(50% - 24px);
        }
    }
}